bump2version
wheel
watchdog
flake8
mypy
tox
coverage
twine
f90nml>=1.1.0
appdirs>=1.4.0
sphinx_rtd_theme
pytest-cov
pytest-subtests
gcsfs>=0.7.0
google-cloud-storage
black
numcodecs==0.7.2
h5py==2.10.0
h5netcdf
dask==2021.03.0 #py3.6 - last supported version
numpy==1.16.5
toolz
git+https://github.com/GridTools/gt4py.git@db40777788863bfe87b9674b118e8bd5b8db0440#egg=gt4py
