bump2version
wheel
watchdog
flake8
mypy
tox
coverage
Sphinx
twine
f90nml>=1.1.0
appdirs>=1.4.0
requests
sphinx_rtd_theme
pytest
pytest-cov
pytest-subtests
gcsfs>=0.7.0
google-cloud-storage
black
numcodecs
h5netcdf
dask
toolz
git+https://github.com/GridTools/gt4py.git@db40777788863bfe87b9674b118e8bd5b8db0440#egg=gt4py

